.form {
	position: relative;
	width: 100%;

	padding: 40px;
	box-sizing: content-box;
}

.form-field {
	display: flex;
	flex-direction: column;
	margin-bottom: 28px;
}
.form-field.comment {
	margin-bottom: 20px;
}
.modal-head {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	color: $primary-text-color;
	display: block;
	margin-bottom: 30px;
}

.form-field > label {
	position: absolute;
	left: 0;
	bottom: 100%;
	margin-bottom: 4px;

	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: #757575;
}
.form-field > label::placeholder {
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}
.form-field > input {
	height: 40px;
	padding: 12px 42px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}

.form-field > textarea {
	height: 120px;
	padding: 12px 16px;
	resize: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}

.btn-center {
	display: block;
	text-align: center;
}
.policy {
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #757575;
	margin-bottom: 30px;
	text-align: center;
}
.form-field {
	position: relative;
}

.icon-form {
	position: absolute;
	top: 50%;
	left: 14px;
	transform: translateY(-50%);
	margin: 0;
}

.form-input:focus + .icon-form {
	fill: $accent-color;
}
.form-input:focus-within .icon-form,
.form-input:focus {
	fill: $accent-color;
	border-color: $accent-color;
	outline: none;
}

// .form-input:hover,
// .form-input:focus {
// 	outline-color: $accent-color;
// }

// CHECKBOX

.checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	position: absolute;
}
.container-checkbox {
	display: flex;
	margin-bottom: 30px;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.checkbox-icon {
	display: inline-block;
	width: 16px;
	height: 15px;
	background-color: #ffffff;
	background-image: url(../images/icon-2/icon-check.svg);
	border: 1px solid $primary-text-color;
	border-radius: 2px;
	margin-right: 7px;
	align-items: center;
	vertical-align: text-top;
}
.checkbox:checked + .checkbox-icon {
	background-color: $accent-color;
	border: none;
}
.checkbox-label {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $secondary-text-color;
}
.policy {
	color: $accent-color;
	border-bottom: 1px solid $accent-color;
}
