.logo {
	color: #212121;
	font-family: Raleway, sans-serif;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;

	display: inline-flex;
	@media screen and (max-width: 767px) {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}
.web {
	color: #2196f3;
}
.logo-footer {
	margin-bottom: 20px;
}
