.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	opacity: 1;
	background-color: rgba(0, 0, 0, 0.2);

	z-index: 3;

	transition: $duration $timming-function;
}
.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}
.modal {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	max-width: 528px;
	max-height: 581px;
	padding: 0px;
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.button-close {
	cursor: pointer;
	width: 30px;
	height: 30px;
	fill: $primary-text-color;
	border-radius: 50%;
	text-decoration: none;
	z-index: 5;

	outline: none;

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	right: 8px;
	top: 8px;
	padding: 0px;
	border: 1px solid rgba(0, 0, 0, 0.1);

	transition: fill $duration $timming-function;
}
.button-close:hover,
.button-close:focus {
	fill: $accent-color;
}
