body {
	background-color: #ffffff;
	color: $primary-text-color;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-style: normal;

	margin-left: auto;
	margin-right: auto;

	// padding-top: 80px;
}
body.modal-open {
	overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}
img {
	display: block;
}
.list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.section {
	@media screen and (max-width: 1199px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
}
.heading {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;

	margin-bottom: 50px;
}
.list.features,
.list.heading,
.list.team,
.list.portfolio,
.list.content,
.list.clients,
.list.address.up {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	@media screen and(min-width: 1200px) {
		flex-wrap: nowrap;
	}
}
.main {
	color: #fff;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	margin-bottom: 30px;
}
