.features-head {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	margin-bottom: 10px;

	@media screen and (max-width: 767px) {
		text-align: center;
	}
	@media screen and (min-width: 768px) {
		text-align: left;
	}
}
.features-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.74;
	letter-spacing: 0.03em;
	color: $secondary-text-color;
	text-transform: none;

	margin-top: 0;
	margin-bottom: 0;
}

.list.features {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		align-items: flex-start;
	}
	@media screen and (max-width: 1199px) {
		justify-content: center;
	}
}

.item-features {
	@media screen and(max-width: 767px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		width: calc(100% / 2 - 30px);
		&:nth-last-child(2n) {
			margin-right: 30px;
		}
		&:nth-child(-n + 2) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 1200px) {
		// margin-left: 30px;
		width: calc(100% / 3 - 30px);
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}
.section.features {
	@media screen and (min-width: 1200px) {
		padding-bottom: 0px;
	}
}

/* ПСЕВДОЭЛЕМЕНТЫ */

.item-features::before {
	content: "";
	height: 120px;
	display: block;
	margin-bottom: 30px;

	background-color: #f5f4fa;
	background-repeat: no-repeat;
	background-position: center;

	background-image: url(../images/icon/Vector.svg);
}
.item-features:nth-child(2)::before {
	background-image: url(../images/icon/clock.svg);
}
.item-features:nth-child(3)::before {
	background-image: url(../images/icon/Vector3.svg);
}
.item-features:nth-child(4)::before {
	background-image: url(../images/icon/astronaut.svg);
}
