.header-page {
	border-bottom: 1px solid #ececec;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #fff;
	z-index: 2;
}
.container.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.link-page {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: $primary-text-color;
	text-decoration: none;

	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	transition: color $duration $timming-function;
}
.link .link-page.current {
	display: flex;
	position: relative;
}
.link .link-page.current::before {
	content: "";
	position: absolute;
	bottom: -1px;
	width: 100%;
	height: 4px;
	background-color: $accent-color;
	border-radius: 2px;
}
.link-page:hover,
.link-page:focus {
	color: $accent-color;
}
.link-page.current {
	color: $accent-color;
}
.list.nav {
	margin-left: 93px;
}
.list.nav .link + .link {
	margin-left: 50px;
}
.list.address .link + .link {
	margin-left: 50px;
}
.link-contacts {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: $secondary-text-color;
	text-decoration: none;

	transition: color $duration $timming-function;
}
.link-contacts:hover,
.link-contacts:focus {
	color: $accent-color;
}
/* ИКОНКИ В ШАПКЕ */
.link-contacts.up {
	display: inline-flex;
	align-items: center;

	padding-top: 32px;
	padding-bottom: 32px;

	fill: $secondary-text-color;
}
.link-contacts.up:hover,
.link-contacts.up:focus {
	fill: $accent-color;
}
.icon-address {
	margin-right: 10px;

	transition: fill $duration $timming-function;
}
